.connexion-forms {
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
}
  .connexion-forms .input-group {
    margin-bottom: 5px;
  }
  .login-form {
    
  }
  .signup-form {
    border-left: 1px solid lightgrey;
  }