$imagesPath : "images";

html,body {
  margin: 0;
	padding: 0;
	height: 100%;
}

.app {
  width: 100%;
  min-height: 100%;
  padding: 0px;
}


.w100
{ width: 100%;
}
.h100
{ height: 100%;
}

/* ################################################ */
/* ################### NAV BAR #################### */
/* ################################################ */
.navbar {
	border-left: 1px solid #B1511D;
	border-right: 1px solid #B1511D;
	border-bottom: 3px solid #8e461f;
	margin-bottom: 0px;
}
.pac-container { z-index: 9999; }
.navbar {
	background: #B1511D;
	padding-right: 20px;
}

.navbar-brand {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 30px;
	color: white;
	font-size: 40px;
}
.navbar-brand img
{
	height: 80%;
	margin-top: 5px;
}
.navbar-inner {
  background: none;
}
.navbar-inner .container {
	padding: 20px;
}
.navbar-inner .navbar-btn
{ margin-top: 12px;
}
.navbar .nav > li > a {
	color: white;
	font-size: 12px;
	font-weight: 400;
	height: 100%;
	text-shadow: none;
	text-transform: uppercase;
	padding-top: 0;
	padding-bottom: 0;
	line-height: 60px;
}




/* ################################################ */
/* ################### HOME SECTION ############### */
/* ################################################ */
#home {
	position: relative;
	width: 100%;
	max-height: 500px;
	color: #fff;
	overflow: hidden;
}
	#home .section-title
	{
		margin: 0px 0px 50px 0px;
	}
	#home .section-content
	{
		padding: 50px 0px;
	}
	#home h1 {
		color: white;
		font-size: 60px;
		font-weight: 400;
	}
	/* #### HI-ICON #### */
	#home .hi-icon-container span
	{
		font-size: 22px;
	}
	#home .hi-icon-container p.lead
	{
		font-size: 18px;
		margin-top: 0px;
	}
	#home .hi-icon {
		border-bottom: 3px solid #8e461f;
		width: 80px;
		height: 80px;
	}
	#home .hi-icon::before {
		line-height: 80px;
	}
/*Advices*/
#home .home-advices advice{

}

/* ################################################ */
/* ################### PARALLAX ################### */
/* ################################################ */

.parallax h1, .parallax h2 {
	color: white;
}
.parallax .social-link span {
	color: white;
	text-transform: uppercase;
	font-size: 11px;
	display: block;
}
.parallax .social-link .lead {
	margin: 0;
}
.parallax .social-link .hi-icon-effect-1 .hi-icon {
	background: rgba(0,0,0,0.15);
}
.parallax-overlay {
	background-color: rgba(0, 0, 0, 0.7);
}
.parallax-box a {
	background: #fff;
	padding: 30px 20px;
	display: block;
}




	
/* ################################################ */
/* ################### FOOTER ##################### */
/* ################################################ */

footer {
	margin-top: 20px;
	font-size: 12px;
	padding: 0 0 30px;
	text-align: center;
	width: 100%;
}
	footer .social-icon {
	}
	footer .social-icon a {
		color: #CFCFCF;
		padding: 0 8px 25px 8px;
		display: inline-block;
	}
	footer .social-icon a:hover {
		color: #999;
	}







		
		
