
/* ################################################ */
/* ################### MAP ######################## */
/* ################################################ */

.map_full_container
{ 
	height: -webkit-calc(100% - 60px);
	position: absolute;
	background: white;
	width: 100%;
	min-height: 90%;
}
.img-fill-container
{
	background-size: cover;
	background-position: center center;
	overflow: hidden;
}
/* ### MAP CONTAINER ################### */
	#map_container
	{
		height: 100%;
		padding: 0px;
	}
		#map-navbar
		{
			padding: 10px;
			//width:100%;
			position: absolute;
			top:3px;
			right: 15px;
			z-index: 20;
			background: transparent;
		}
		#map_canvas {
			height: 100%;
		}	
			#map_canvas .infoBox-panel
			{
				width: 100%;
				height: 100%;
			}
			#map_canvas .infoBox-panel:hover
			{
				cursor: pointer;
			}
				#map_canvas .infoBox-panel .panel-body
				{
					padding: 0px;
				}
				#map_canvas .infoBox-panel .thumbnail
				{
					margin: 0px;
					width: 100%;
					height: 132px;
					border-radius: 0;
					border: 0;
				}
				#map_canvas .arrow-down
				{
					position:absolute; 
					display:block; 
					width:100%; 
					bottom: -18px; 
					left: 1px;
					color:white; 
					text-align:center;
					z-index: -10;
				}
				
/* ### MAP LIST ################### */
	#map_list
	{
		background: #F9F1EF;
		height: 100%;
		overflow: scroll;
		border-left: 6px solid #EEE;
	}
		#map_list .sort-menu
		{
			padding: 10px;
			width:100%;
			position: fixed;
			background: rgba(255,255,255,0.95);
			z-index: 20;
			border-bottom: 1px solid #EEE;
		}
		#map_list .dropdown-menu > li > a {
		  padding: 2px;
		  text-transform: none;
		}
		#map_list .sort-menu .progress
		{
			margin-bottom: 0px;
			margin-top: 5px;
			height: 15px;
		}
		#map_list #place_list
		{ 
		  margin-top: 60px;
		}
		#map_list .place
		{ 
		  margin: 10px;
		  overflow: hidden;
		}
		#map_list .place:hover
		{ 
		  border-bottom-color: #008DB6;
		  cursor: pointer;
		}
		  .place .panel-heading a
			{ 
			  color: white;
			  transition: all 0.5s ease;
			}
			.place .panel-heading a:hover
			{ 
			  text-shadow: 0px 1px 2px white;
			}

			#map_list .place .panel-body
			{ 
			  width: 100%;
			  height: 150px;
			  padding: 0px;
			}
			#map_list .place .panel-body .place-img-container
			{ 
			  width: 100%;
			  height: 100%;
			  text-align: center;
			  z-index: 19;
			}
			
			#map_list .place .panel-body .place-text-container
			{ 
			  margin-top: -40px;
			  width: 100%;
			  height: 30px;
			  background: lightgrey;
			  z-index: 20;
			}
			#map_list .place .panel-footer
			{
			}
		
#map_list .add-a-bar {
  position: fixed;
  bottom: 0px;
  right: 0px;
  padding: 10px;
}
	