/* ################################################ */
/* ################### PLACE ###################### */
/* ################################################ */
.place-full-container	
{
	padding-top: 20px;
	background: #F9F1EF;
	padding-bottom: 20px;
}
	.place-sidebar
	{
		width: 100%;
		margin: auto;
		background: white;
		margin-bottom: 20px;
	}
		.place-sidebar p.place_infos
		{
			font-size: 1.1em;
		}
		.place-sidebar p.place-infos i
		{
			margin-right: 5px;
		}
	/* ### PLACE CONTAINER ### */
	.place-container
	{
		width: 100%;
		min-height: 200px;
		background: white;
		border-radius: 3px;
	}
	.panel-yelp .panel-heading
	{
		background: #CA0A10;
	}
		#place-map
		{
			height: 196px;
		}
		#place-map-sidebar
		{
		}
		.place_schedule_popover 
		{
			color: #5b5b5b;
		}
		