/* ################################################ */
/* ################### USER ###################### */
/* ################################################ */
.profile-full-container	
{
	padding-top: 20px;
	background: #F9F1EF;
	padding-bottom: 20px;
	min-height: 100%;
}